[Desktop Entry]
Icon=video-x-matroska
Name=Pai.em.Dose.Dupla.2.1080p.BluRay.6CH.x264.DUAL-WWW.BLUDV.COM.mkv
Type=Link
URL[$e]=file:///var/virtualizacao/Filmes/Pai em Dose Dupla 2 2018 (1080p) WWW.BLUDV.COM/Pai.em.Dose.Dupla.2.1080p.BluRay.6CH.x264.DUAL-WWW.BLUDV.COM.mkv
X-KDE-LastOpenedWith=org.kde.kdenlive
