[Desktop Entry]
Icon=video-mp4
Name=simplescreenrecorder-2018-08-04_17.14.30.mp4
Type=Link
URL[$e]=file:$HOME/Desktop/simplescreenrecorder-2018-08-04_17.14.30.mp4
X-KDE-LastOpenedWith=org.kde.kdenlive
