[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/marcos/Desktop/Organize]
row=0
col=3

[/home/marcos/Desktop/rh_ip_command_cheatsheet_1214_jcs_print.pdf]
row=0
col=4

[f8366ae2-65c0-4463-8d17-9762d44b50d2]
row=1
col=0

[616ac949-4505-4cf0-aedc-a9a6c674d286]
row=0
col=0

[Lixeira]
row=0
col=6

[/]
row=0
col=1

[/home/marcos]
row=0
col=2

