[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/marcos/Desktop/pdv-dcr.svg]
row=7
col=3

[/home/marcos/Desktop/tcc.svg]
row=8
col=7

[/home/marcos/Desktop/tcc-lab.ps]
row=5
col=0

[/home/marcos/Desktop/Tailor Brands - Instant Logo Maker & Online Logo Design.html]
row=8
col=1

[/home/marcos/Desktop/file]
row=1
col=8

[/home/marcos/Desktop/TCC -vanusa aguiar cunha.pdf]
row=3
col=3

[/home/marcos/Desktop/pdv-dct.png]
row=3
col=6

[/home/marcos/Desktop/Sparks Blogger Template.xml]
row=5
col=7

[/home/marcos/Desktop/TCC -vanusa aguiar cunha - OK.docx]
row=0
col=3

[/home/marcos/Desktop/x2.png]
row=3
col=1

[/home/marcos/Desktop/pdv-dct.jpg]
row=4
col=4

[/home/marcos/Desktop/background-dcr-2.svg]
row=3
col=5

[/home/marcos/Desktop/TCC -vanusa aguiar cunha.docx]
row=2
col=3

[/home/marcos/Desktop/background-dcr-1.svg]
row=3
col=4

[/home/marcos/Desktop/TCC -vanusa aguiar cunha-3.pdf]
row=5
col=3

[/home/marcos/Desktop/office-group.svg]
row=7
col=7

[/home/marcos/Desktop/Deepin Screenshot_20180610163354.png]
row=6
col=4

[/home/marcos/Desktop/x.png]
row=4
col=1

[/home/marcos/Desktop/Curriculo José Janderson.wmf]
row=1
col=1

[/home/marcos/Desktop/Deepin Screenshot_selecionar área_20180610163325.png]
row=8
col=4

[/home/marcos/Desktop/gamelist.xml]
row=8
col=2

[/home/marcos/Desktop/bkp-vanusa]
row=3
col=7

[/home/marcos/Desktop/3.pdf]
row=6
col=0

[/home/marcos/Desktop/background-dcr.svg]
row=7
col=5

[/home/marcos/Desktop/A INTERDISCIPLINARIBARIDADE ENTRE AS DISCIPLINAS.odt]
row=6
col=6

[/home/marcos/Desktop/trabalho arte  geografia e historia PRONTOodt.pdf]
row=1
col=7

[/home/marcos/Desktop/1.pdf]
row=2
col=2

[/home/marcos/Desktop/A INTERDISCIPLINARIBARIDADE ENTRE AS DISCIPLINAS-V3.pdf]
row=4
col=6

[/home/marcos/Desktop/Thumbs.db:encryptable]
row=2
col=5

[/home/marcos/Desktop/A INTERDISCIPLINARIBARIDADE ENTRE AS DISCIPLINAS-V2.pdf]
row=5
col=6

[/home/marcos/Desktop/background-dcr6.png]
row=0
col=4

[/home/marcos/Desktop/background-dcr5.png]
row=7
col=1

[/home/marcos/Desktop/Captura de tela de 2018-06-19 16-23-33.png]
row=8
col=0

[/home/marcos/Desktop/background-dcr4.png]
row=5
col=4

[/home/marcos/Desktop/background-dcr.png]
row=5
col=5

[/home/marcos/Desktop/TCC -vanusa aguiar cunha-C.pdf]
row=1
col=3

[/home/marcos/Desktop/Novo-TRabalho Vasnessa.pdf]
row=8
col=6

[/home/marcos/Desktop/background-dcr3.png]
row=0
col=6

[/home/marcos/Desktop/ggg.jpg]
row=6
col=2

[/home/marcos/Desktop/sairtam10.png]
row=2
col=6

[/home/marcos/Desktop/dcr1280x720.png]
row=7
col=2

[/home/marcos/Desktop/background-dcr2.png]
row=1
col=5

[/home/marcos/Desktop/dcr-1440x900.svg]
row=2
col=4

[/home/marcos/Desktop/09741347677-IRPF-A-2018-2017-ORIGI.DBK.avi]
row=7
col=0

[/home/marcos/Desktop/logo-monocromatica.png]
row=0
col=5

[/home/marcos/Desktop/trabalho arte  geografia e historia PRONTOodt V1.pdf]
row=0
col=7

[/home/marcos/Desktop/BKP]
row=2
col=7

[/home/marcos/Desktop/Dados.pdf]
row=5
col=1

[/home/marcos/Desktop/52.pdf]
row=0
col=2

[/home/marcos/Desktop/logo-monocromatrica.svg]
row=1
col=4

[/home/marcos/Desktop/catalogo_abaris.pdf]
row=6
col=3

[/home/marcos/Desktop/Thumbs.db]
row=4
col=5

[/home/marcos/Desktop/dcr-120x720.svg]
row=8
col=3

[/home/marcos/Desktop/trabalho arte  geografia e historia PRONTOodt -V1.pdf]
row=5
col=2

[/home/marcos/Desktop/Windows7-DCR.desktop]
row=6
col=7

[/home/marcos/Desktop/plano-de-fundo.png]
row=4
col=3

[/home/marcos/Desktop/photo_2018-06-17_20-08-43.jpg]
row=2
col=1

[/home/marcos/Desktop/dcr-1440x900.png]
row=8
col=5

[/home/marcos/Desktop/TCC -vanusa aguiar cunha-3 - Atalho.lnk]
row=3
col=2

[/home/marcos/Desktop/Deepin Screenshot_20180610163131.png]
row=7
col=4

[/home/marcos/Desktop/VANUSA  RELATORIO.doc 05.06.18 2 (5).doc]
row=6
col=1

[/home/marcos/Desktop/DCR]
row=0
col=8

[/home/marcos/Desktop/Desenvolvimento Template TCC.pdf]
row=4
col=2

[/home/marcos/Desktop/pdv-dct.svg]
row=6
col=5

[/home/marcos/Desktop/3-4.pdf]
row=1
col=2

[/home/marcos/Desktop/A INTERDISCIPLINARIBARIDADE ENTRE AS DISCIPLINAS.pdf]
row=7
col=6

[/home/marcos/Desktop/dcr-nano.svg]
row=4
col=7

[/home/marcos/Desktop/Tailor Brands - Instant Logo Maker & Online Logo Design_files]
row=1
col=6

[/home/marcos/Desktop/Curriculo José Janderson.html]
row=0
col=1

[81s]
row=0
col=0

[66961fc6-0ad3-498a-967d-ab3a95c8611b]
row=1
col=0

[Lixeira]
row=2
col=0

[/]
row=3
col=0

[/home/marcos]
row=4
col=0

